@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("../public/fonts/HelveticaNowDisplay-Medium.ttf");
}

@font-face {
  font-family: "HelveticaText";
  src: url("../public/fonts/HelveticaNowDisplay");
}
